root = true

[*.{kt,kts}]
ktlint_standard_blank-line-before-declaration=disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_function_signature_body_expression_wrapping = default
